// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$color-text     : #222;
$color-main     : #ef5285;
$color-sub      : #a5dff9;
$color-bg       : #5040ce;
$color-thbg     : #fff;
$color-thbg-sun : #ffeee4;
$color-thbg-sat : #d6ecfa;
$color-tdbg     : #f4f4f4;
$color-tdbg-pn  : #dfdfdf;
$color-link     : #6dfafb;
$color-today    : #f29c9d;
$color-title    : #fbd67e;

// スタンプ表示非表示の制御
.simple-calendar {
  .field-name {
    display: none;
  }
  .field-start_time {
    display: none;
  }
  .field-stamp_button {
    display: none;
  }
  .today .field-stamp_button {
    display: block;
  }
  .has-events .field-stamp_button {
    display: none;
  }
}

// 以下スタイル
body {
  background: image-url("bg.png") $color-bg repeat 50% 24%;
  background-size: 250px 250px;
  font-family: sans-serif;
}

a {
  color: $color-link;
}

.field-stamp_button input {
  display: block;
  cursor: pointer;
  background-color: $color-sub;
}

.simple-calendar {
  font-family: 'Rubik', sans-serif;
  margin: 0 5px 10px;
  .calendar-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    .calendar-title {
      color: $color-title;
      padding: 0;
      .month {
        font-size: 21px;
      }
      .year {
        font-size: 21px;
      }
    }
    .to-previous,
    .to-next {
      .material-icons-outlined {
        font-size: 30px;
      }
    }
    .to-previous {
      padding: 10px 14px 8px 8px;
      text-align: left;
    }
    .to-next {
      padding: 10px 8px 8px 14px;
      text-align: right;
    }
  }
  .table {
    table-layout: fixed;
    th, td {
      border-color: $color-bg;
    }
    th {
      background: $color-thbg;
      font-size: 12px;
      .abbr_day_names_sub {
        font-size: 10px;
        opacity: 0.6;
      }
      &:first-child {
        background: $color-thbg-sun;
      }
      &:last-child {
        background: $color-thbg-sat;
      }
    }
    td {
      background: $color-tdbg;
    }
    .day {
      color: $color-text;
      position: relative;
    }
    .today {
      background: $color-today;
      color: $color-bg;
      font-weight: bold;
    }
    .prev-month,
    .next-month {
      background: $color-tdbg-pn;
      color: lighten($color-text, 50%);
    }
    .current-month {
    }
    .field-stamp_button input {
      background-color: transparent;
      color: transparent;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      &:hover {
        opacity: 0.7;
      }
    }
    .done {
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: 50% 80%;
      background-size: 46px 46px;
      display: block;
      color: transparent;
      cursor: pointer;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      text-align: center;
      vertical-align: middle;
      &:hover {
        opacity: 0.7;
      }
    }
    .wday-0 .done {
      background-image: image-url("stamp_1.png");
    }
    .wday-1 .done {
      background-image: image-url("stamp_2.png");
    }
    .wday-2 .done {
      background-image: image-url("stamp_3.png");
    }
    .wday-3 .done {
      background-image: image-url("stamp_4.png");
    }
    .wday-4 .done {
      background-image: image-url("stamp_5.png");
    }
    .wday-5 .done {
      background-image: image-url("stamp_6.png");
    }
    .wday-6 .done {
      background-image: image-url("stamp_7.png");
    }
    tr:nth-of-type(1) {
      .wday-0 .done {
        background-image: image-url("stamp_3.png");
      }
      .wday-1 .done {
        background-image: image-url("stamp_4.png");
      }
      .wday-2 .done {
        background-image: image-url("stamp_5.png");
      }
      .wday-3 .done {
        background-image: image-url("stamp_6.png");
      }
      .wday-4 .done {
        background-image: image-url("stamp_7.png");
      }
      .wday-5 .done {
        background-image: image-url("stamp_1.png");
      }
      .wday-6 .done {
        background-image: image-url("stamp_2.png");
      }
    }
    tr:nth-of-type(2) {
      .wday-0 .done {
        background-image: image-url("stamp_5.png");
      }
      .wday-1 .done {
        background-image: image-url("stamp_6.png");
      }
      .wday-2 .done {
        background-image: image-url("stamp_7.png");
      }
      .wday-3 .done {
        background-image: image-url("stamp_1.png");
      }
      .wday-4 .done {
        background-image: image-url("stamp_2.png");
      }
      .wday-5 .done {
        background-image: image-url("stamp_3.png");
      }
      .wday-6 .done {
        background-image: image-url("stamp_4.png");
      }
    }
    tr:nth-of-type(3) {
      .wday-0 .done {
        background-image: image-url("stamp_2.png");
      }
      .wday-1 .done {
        background-image: image-url("stamp_1.png");
      }
      .wday-2 .done {
        background-image: image-url("stamp_4.png");
      }
      .wday-3 .done {
        background-image: image-url("stamp_3.png");
      }
      .wday-4 .done {
        background-image: image-url("stamp_5.png");
      }
      .wday-5 .done {
        background-image: image-url("stamp_7.png");
      }
      .wday-6 .done {
        background-image: image-url("stamp_6.png");
      }
    }
    tr:nth-of-type(4) {
      .wday-0 .done {
        background-image: image-url("stamp_4.png");
      }
      .wday-1 .done {
        background-image: image-url("stamp_5.png");
      }
      .wday-2 .done {
        background-image: image-url("stamp_6.png");
      }
      .wday-3 .done {
        background-image: image-url("stamp_7.png");
      }
      .wday-4 .done {
        background-image: image-url("stamp_1.png");
      }
      .wday-5 .done {
        background-image: image-url("stamp_2.png");
      }
      .wday-6 .done {
        background-image: image-url("stamp_3.png");
      }
    }
    tr:nth-of-type(5) {
      .wday-0 .done {
        background-image: image-url("stamp_6.png");
      }
      .wday-1 .done {
        background-image: image-url("stamp_7.png");
      }
      .wday-2 .done {
        background-image: image-url("stamp_1.png");
      }
      .wday-3 .done {
        background-image: image-url("stamp_2.png");
      }
      .wday-4 .done {
        background-image: image-url("stamp_3.png");
      }
      .wday-5 .done {
        background-image: image-url("stamp_4.png");
      }
      .wday-6 .done {
        background-image: image-url("stamp_5.png");
      }
    }
  }
}

.emergency-exit {
  margin: 0 12px;
  text-align: right;
  a {
    display: inline-block;
    padding: 2px;
  }
  .material-icons-outlined {
    font-size: 20px;
    margin: 0 -2px 0 0;
  }
}

.form-new {
  font-family: sans-serif;
  margin: 10px;
  h1 {
    color: $color-title;
    margin: 0 0 20px;
  }
  label {
    color: $color-tdbg-pn;
    margin: 20px 0 5px;
  }
  input, select {
    border: 1px solid $color-thbg;
    background: $color-tdbg-pn;
    padding: 4px;
  }
  .field-stamp_button input {
    border: 1px solid $color-title;
    background: $color-title;
    margin: 20px 0 40px;
  }
}
